
@media(min-width: 320px) and (max-width: 767px){
	.desktop{
		display:none;
	}
	.container-pics{
		width: 320px;
		margin: 0 auto;
	}
	.social_media{
		display: none;
	}
}


@media(min-width: 768px) {
	.container{
		width: 100vw;
		margin: 0 auto;
/*		text-align: center;*/
	}
	.col-4{
	width: 32%;
	display: inline-block;
	padding: 0.3vw;
	margin: 0 auto;
	}

	.container-pics{
		text-align: center;
		width: 99.3vw;
		margin: 0 auto;
		position: relative;
	}

 	.desktop{
	display:none;
	}

	#logo h3{
		padding-top: 16px;
	}

	.words h2{
		padding-top: 60px;
	}


	.words p{
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.words hr{
		margin-bottom: 32px;
	}
	.logo h3{
		padding-top: 20px;
		padding-bottom: 8px;
		margin: 0;
	}
	.copyright p{
		padding-top: 8px;
		padding-bottom: 20px;
	}

	.load{
	    margin-top: 20px;
	    margin-bottom: 52px;
	}

}

@media(min-width: 1200px){
	.container{
		width: 1200px;
		margin: 0 auto;
		text-align: center;
	}

	#menu-trigger{
		display: none;
	}
	
	.sm_icon{
		display: none;
	}

	.desktop ul{
	display:inline;
	float: right;
	list-style-type: none;
	margin: 0;
	padding-top: 40px;
	}

	#logo h3{
		padding-top: 25px;
		margin: 0;
	}
	.desktop li{
		display: inline;
		margin: 0;
		padding: 12px;
	}

	.desktop a {
		text-decoration: none;
	}

	.container-pics{
		text-align: center;
		width: 1250px;
		margin: 0 auto;
		position: relative;
	}
	.menu-trigger{
		display:none;
	}
	.desktop{
		display:block;	
	}
	.col-4{
	display: inline-block;
	padding: 15px;
	margin: 0 auto;
	}
	


	.social_media ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	}

	.social_media li{
		display: inline;
		margin: 0 4px;
		text-align: center;
	}

	.social_media a {
		text-align: center;
		text-decoration: none;
		/*font-size: 0.625rem;*/
		color: #000;
/*		font-size: 20px;*/
	}

	.container .social_media{
		display: inline;
	}

	.social_media p{
		font-size: 0.625rem;
		color: #000;
		margin: 0;
		padding-left: 0;
	}

	.col-4{
		width: 370px;
		height: 230px;
		margin: 0 auto;
	}

	#header #logo{
		margin-left: 15px;
	}
	.desktop {
		margin-right: 15px;
	}

	.logo h3{
		padding-top: 50px;
		padding-bottom: 20px;
		margin: 0;
	}
	.copyright p{
		padding-top: 20px;
		padding-bottom: 50px;
	}

	.filter ul{
		width: 1200px;
	}

	.load{
	    margin-top: 50px;
	    margin-bottom: 135px;
	}

	.words h2{
		padding-top: 150px;
	}

	.words hr{
		margin-bottom: 80px;
	}

}



